<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Sandbox − Home</title>
        <link rel="stylesheet" href="/css/base.css">
        <script rel="javascript" type="text/javascript" src="/js/vendor/jquery/jquery-3.6.0.min.js"></script>
        <script defer rel="javascript" type="text/javascript" src="/js/base.js"></script>
    </head>
    <body>
        <header>
            <h1 class="logo">org.schlibbuz.sa723</h1>
            <input type="checkbox" id="nav-toggle" class="nav-toggle">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about.do">About</a></li>
                    <li><a href="/blog.do">Blog</a></li>
                    <li><a href="/contact.do">Contact</a></li>
                </ul>
            </nav>
            <label for="nav-toggle" class="nav-toggle-label">
                <span>X</span>
            </label>
        </header>
        <div class="content">
            <section id="sub-header">
                <h2>Home@localhost running version null</h2>
            </section>
            <section id="body">
