/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18.03.2021, 18:12:52
    Author     : Stefan
*/

body {
    background-color: #2B292E;
    color: #C0C0C0;
    font-family : corbel, verdana, arial, helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.cfx::after {
    content: "";
    clear: both;
    display: table;
}

.container {
    padding: 12px;
}

#wrapper {
    box-sizing: border-box;
    color:#001675;
    margin: 0 auto;
    text-align: center;
    width: 800px;
}

.matrix  .cell {
    background-color: #3d3942;
    filter: alpha(opacity=50);
    float: left;
    height: 18px;
    line-height: 18px;
    margin: 1px;
    opacity: 0.5;
    overflow: hidden;
    transition: opacity 1s ease-in-out;
    width: 18px;
    -webkit-transition: opacity 0.1s ease-in-out;
    -moz-transition: opacity 0.1s ease-in-out;
    -ms-transition: opacity 0.1s ease-in-out;
    -o-transition: opacity 0.1s ease-in-out;
}

#wrapper > div.activated {
    filter: alpha(opacity=100);
    opacity: 1.0;
}
